<div class="row">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">filter_drama</i>
        Categorias</div>
      <div class="collapsible-body">
        <p>{{input type="text" placeholder="Criar categoria" value=nomeCategoria}}
          <button {{action "criarCategoria"}} class="btn right">Salvar</button>
        </p>
        {{categoria-table categorias=model.categorias categoriaClick=(action categoriaClick)}}
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">filter_drama</i>
        Usuários</div>
      <div class="collapsible-body">
        {{usuario-table usuarios=model.usuarios userClick=(action userClick)}}
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">place</i>
        Mentorias</div>
      <div class="collapsible-body">
        {{mentoria-table mentorias=model.mentorias mentoriaClick=(action mentoriaClick)}}
      </div>
    </li>
  </ul>
</div>
{{outlet}}
