<div class="row">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">visibility</i>
        <h4>Admins</h4>
      </div>
      <div class="collapsible-body">
        <p>{{input type="text" placeholder="Criar Admin" value=emailAdmin}}
          <button {{action "criarAdmin"}} class="btn">Salvar</button>
        </p>
        {{admin-table admins=model.admins adminClick=(action adminClick)}}
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">settings</i>
        <h4>Categorias</h4>
      </div>
      <div class="collapsible-body">
        <p>{{input type="text" placeholder="Criar categoria" value=nomeCategoria}}
          <button {{action "criarCategoria"}} class="btn">Salvar</button>
        </p>
        {{categoria-table categorias=model.categorias categoriaClick=(action categoriaClick)}}
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">account_circle</i>
        <h4>Usuários</h4>
      </div>
      <div class="collapsible-body">
        {{usuario-table usuarios=model.usuarios userClick=(action userClick)}}
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">lightbulb_outline</i>
        <h4>Mentorias</h4>
      </div>
      <div class="collapsible-body">
        {{mentoria-table mentorias=model.mentorias mentoriaClick=(action mentoriaClick)}}
      </div>
    </li>
  </ul>
</div>
{{outlet}}
